// Colores de fuente
$color_1: black;
$color_2: #4C6663;

// Colores de fondo
$background-color_1: rgb(240, 234, 234);
$background-color_2: #D4C5E2;
$background-color_3: #C9D7F8;
$background-color_4: #a7e2e3;
